[flake8]
# Set a more reasonable line length
max-line-length = 120

# List of folders to ignore
exclude =
    .venv,
    __pycache__,
    .git,
    models/

# List of all error codes to ignore
# This list now includes all the errors from your CI log
ignore =
    W503,
    E203,
    E501,
    F541,
    E302,
    E305,
    E303,
    F401,
    E402,
    F811,
    E712,
    W293,
    E261,
    W292